:root{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

@font-face {
    font-family: 'street';
    src: url(font/street.otf) format('opentype');
}
body{
    font-family: 'street';
    background-image: url(img/fondo2.jpg);
    background-size: cover;

}
h1{
    color: crimson;
    font-size: 46px;
    text-align: center;
}
table{
    margin: auto;
    width:600px;
    height: 800px;
    background-color: black;
    border: 10px;
    border-style: outset;
    border-color: rgb(237,175,5);
    border-radius: 10px;
    
}
td{
    width: 40px;
    height: 45px;
    border: 2px;
    border-style: solid;
    border-color: grey;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'street';
    color: darkorange;
    text-align: center;
}
#cabecera{
    
    background-image: url(img/fondocabecera.jpg);
    background-size: 100%;
    opacity: 0.5;
    background-repeat: no-repeat;
    font-family: 'street';
    font-size: 40px;
    color: whitesmoke;
    text-align: center;
    
}

h2{
    font-family: 'street';
    color: crimson;
    text-align: center;
    font-size: 28px;
}

.formulario{
    width: 600px;
    height: 800px;
    border: 10px;
    border-style: outset;
    border-color: rgb(237,175,5);
    color: white;
    border-radius: 10px;
    background-color: black;
    margin: auto;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.legend{
    font-family: 'street';
    color: rgb(237, 175, 5);
    font-size: 14px;
    margin-bottom: 1rem;

}

.elemento{
    display: inline-block;
    margin-bottom: 2rem;
}

.boton{
    border: 1px;
    border-style: solid;
    border-color: crimson;
    font-family: 'street';
}